@font-face {
  font-family: IBMPlexMono;
  src: url(fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf);
}
@font-face {
  font-family: DoppioOne;
  src: url(fonts/Doppio_One/DoppioOne-Regular.ttf);
}

#drop-zone {
    
    background-color: rgba(50,50,50,0.6);
    position: fixed;
    width: 99%;
    height: 99%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    place-items: stretch;
    grid-column-gap: 5%;
    grid-row-gap: 5%;
    padding: 5%;
    margin-right: 5%;
    
/*    transition: visibility 1s ease;*/

}

#mapid{
    
    height:500px;
    
    
}