@font-face {
  font-family: IBMPlexMono;
  src: url(fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf);
}
@font-face {
  font-family: DoppioOne;
  src: url(fonts/Doppio_One/DoppioOne-Regular.ttf);
}

#drop-zone {
    
    background-color: rgba(50,50,50,0.6);
    position: fixed;
    width: 99%;
    height: 99%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    place-items: stretch;
    grid-column-gap: 5%;
    grid-row-gap: 5%;
    padding: 5%;
    margin-right: 5%;
    
/*    transition: visibility 1s ease;*/

}

#mapid{
    
    height:800px;
    
}

#sensor-list{
    
    position: absolute;
    bottom: 10%;
    height: 80vh;
    right: 0px;
    width: 20vw; /* 0 */
    transition: width 0.3s ease;
    max-width: 800px;
    min-width: 0;
    border-radius: 20px 0px 0px 20px;
    background-color: rgba(255, 255, 255, 0.5);
    display: grid;
    grid-template-columns: auto;
    justify-items: end;	
    align-items: center;
    align-content: start;
    grid-row-gap: 5px;
}

#sensor-list div {
    index: 0;
    font-family: IBMPlexMono, Arial;
    padding-left: 5%;
    
    border-radius: 20px 0px 0px 20px;
    width: 90%;
    background-color: white;/* rgba(85, 174, 248, 0.6);*/
    color: black;
}

#sensor-list h3 {
    index: 0;
    font-family: DoppioOne, Arial;
    

    /*    border-radius: 20px 0px 0px 20px;*/
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    
    color: black;
}
